node_modules
dist
build
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.DS_Store
*.tsbuildinfo
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
